.list li{
    display: flex;
    align-items: center;
    width: 308px;
    margin: 15px 0;
}

.list div{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.list div button{
    line-height: 10px;
    margin-top: 10px;
    height: 24px;
    width: 140px;
    padding: 8px;
    font-weight: bold;
    color: white;
    border-radius: 4px;
    background-color: rgb(216, 76, 76);
    box-shadow: 0px 2px 1px 0px #cacaca;
    transition: all .2s;
}

.list div button:hover{
    background-color: rgb(246, 75, 75);
    transition: all .2s;
}

.list li img{
    width: 100px;
    border-radius: 50px;
    border: 3px double rgb(80, 80, 80);
}

.list li strong{
    font-size: 18px;
}

.list li span{
    color: rgb(202, 202, 202);
    font-style: italic;
}